/* Header css */
.header {
  background-color: #4b2e83;
  height: 11vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  color: white;
  font-size: clamp(1vh, 2.5vw, 5vh);
  font-weight: 700;
  margin-left: 2.5vh;
  user-select: none;
  cursor: pointer;
}

.login {
  color: white;
  font-size: clamp(0.8vh, 2vw, 4vh);
  font-weight: 400;
  margin-right: 2.5vh;
  user-select: none;
  cursor: pointer;
}

.email {
  color: white;
  font-size: clamp(0.7vh, 1.5vw, 3vh);
  font-weight: 400;
  user-select: none;
  margin-left: 0;
  margin-top: clamp(1px, 20px, 5vh);
  margin-bottom: clamp(1px, 20px, 5vh);
  margin-right: 2vh;
}

.signout {
  color: white;
  font-size: clamp(0.6vh, 1vw, 2vh);
  font-weight: 400;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin: -10px;
  margin-right: 0.7vh !important;
}

/* Sidebar css */
.sidebar {
  background-color: #f0f0f0;
  height: 89vh;
  width: 15%;
  top: 11vh;
  position: fixed;
}

/* Classtab css */
.leveltab {
  text-align: center;
  min-height: 9%;
  width: 100%;
  display: inline-block;
  border: none;
  margin-top: 4%;
  font-size: clamp(1px, 140%, 3vw);
  color: black;
  text-decoration: none;
}

.leveltab:hover,
.leveltab.clicked {
  background-color: rgba(255, 255, 255, 0.897);
  font-weight: bold;
  background: linear-gradient(to right, #f0f0f0 7%, 7%,
                            #c985ff 17%, transparent 17%);
}