.coursepage {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 11%;
  left: 15%;
  right: 0%;
  margin: 3%;
  gap: 1rem;
}

.topbox {
  display: flex;
  flex-direction: column;
  height: 20rem;
  text-align: center;
  background-color: #d3f5ff;
}

/* Reviews section */

.bottombox {
  height: auto;
  text-align: center;
  background-color: #d3f5ff;
}

/* Header */
.page-reviews-header {
  text-align: left;
  padding-top: 1.5vh;
  font-size: clamp(1px, 160%, 3.8vw);
  margin-left: clamp(25px, 3vw, 3vw);
  font-weight: bold;
}

/* Holds all reviews */
.review-holder {
  padding-left: 1vw;
  padding-right: 1vw;
}

/* Review Card styling */

.review-card {
  padding: clamp(10px, 20px, 2vw);
  cursor: auto;
}

.review-text {
  display: flex;
  align-items: center;
  margin-right: 7vw;
  font-size: clamp(1px, 16px, 2.5vw);
}

.review-ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.review-box {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: clamp(1px, 130%, 3vw);
  max-height: 6.5vw;
}

.review-box-category {
  font-size: clamp(1px, 16px, 2.1vw);
}