.coursepage {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 11%;
  left: 15%;
  right: 0%;
  margin: 3%;
  gap: 1rem;
}

.topbox {
  display: flex;
  flex-direction: column;
  height: 20rem;
  text-align: center;
  background-color: #d3f5ff;
}

/* Reviews section */

.bottombox {
  min-height: 40vh;
  height: auto;
  text-align: center;
  background-color: #d3f5ff;
}

/* Header */
.page-reviews-header {
  text-align: left;
  padding-top: 1.5vh;
  font-size: clamp(1px, 160%, 3.8vw);
  margin-left: clamp(25px, 3vw, 3vw);
  font-weight: bold;
}

/* Holds all reviews */
.review-holder {
  padding-left: 1vw;
  padding-right: 1vw;
}

/* Review Card styling */

.review-card {
  padding: clamp(7px, 20px, 2vw);
  cursor: auto;
}

.review-card-left {
  flex: 1;
}

.review-card-header {
  display: flex;
  font-size: clamp(1px, 17px, 1.8vw);
  margin-bottom: clamp(1px, 1.5vh, 1vw);
}

.header-quarter {
  width: 14vw;
  margin-right: 5vw;
}

.review-text {
  margin-right: 2vw;
  margin-left: 1.8vw;
  font-size: clamp(1px, 16px, 1.5vw);
  overflow: hidden;
}

@media (max-width: 1000px) {
  .review-text {
    width: 34vw;
  }
}

.review-ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5vw;
}

.review-box {
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: clamp(1px, 130%, 2.2vw);
  max-height: 3ch;
}

.review-box-category {
  font-size: clamp(1px, 16px, 1.8vw);
}

.italics {
  font-style: italic;
}
