.App {
  text-align: center;
}

/* Header css */
.header {
  background-color: #6100AC;
  height: 11vh;
  text-align: center;
}

/* Sidebar css */
.sidebar {
  background-color: #F0F0F0;
  height: 100%;
  width: 15%;
  position: fixed;
}

/* Classtab css */
.leveltab {
  text-align: center;
  display: inline-block;
  border: none;
  background-color: black;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  font-size: 4vh;
}
