.App {
  text-align: center;
}

/* Header css */
.header {
  background-color: #4b2e83;
  height: 11vh;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 1;
}

/* Sidebar css */
.sidebar {
  background-color: #f0f0f0;
  height: 89%;
  width: 15%;
  bottom: 0%;
  position: fixed;
}

/* Classtab css */
.leveltab {
  text-align: center;
  height: 10%;
  width: 100%;
  display: inline-block;
  border: none;
  font-size: 130%;
}

.leveltab:hover {
  background-color: rgba(255, 255, 255, 0.897);
  font-weight: bold;
  background: linear-gradient(to right, #00f 10%, transparent 10%);
}

.innerpage {
  background-color: #d3f4fe;
  font-family: monospace, "Ubuntu", "Courier New";
  position: absolute;
  top: 15%;
  left: 20%;
  right: 5%;
  height: 200vh;
  text-align: center;
}

.welcome {
  text-align: center;
  margin-top: 60px;
  font-size: 300%;
}

.howitworks {
  position: absolute;
  top: 15%;
  height: 50%;
  width: 100%;
}

.explanation {
  font-weight: normal;
}

.ratingbox {
  font-family: "Helvetica Neue", sans-serif, Arial;
  font-weight: bold;
  font-size: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  margin-top: 20px;
  left: 10%;
  height: 10%;
  width: 14%;
}

.ratingbox-diff {
  background-color: #e087e2;
}

.ratingbox-work {
  background-color: #8dbbff;
  left: 41%;
}

.ratingbox-prac {
  background-color: #88ecaa;
  left: 72%;
}