.App {
  text-align: center;
}

/* Header css */
.header {
  background-color: #4b2e83;
  height: 11vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
}

.logo {
  color: white;
  font-size: 2.5vw;
  font-weight: 700;
  margin-left: 2%;
}

/* Sidebar css */
.sidebar {
  background-color: #f0f0f0;
  height: 89vh;
  width: 15%;
  bottom: 0%;
  position: fixed;
}

/* Classtab css */
.leveltab {
  text-align: center;
  height: 10%;
  width: 100%;
  display: inline-block;
  border: none;
  font-size: 140%;
}

.leveltab:hover {
  background-color: rgba(255, 255, 255, 0.897);
  font-weight: bold;
  background: linear-gradient(to right, #00f 10%, transparent 10%);
}

.innerpage {
  background-color: #d3f4fe;
  position: absolute;
  top: 15%;
  left: 20%;
  right: 5%;
  height: 200vh;
  text-align: center;
}
