.App {
    text-align: center;
}

/* Loading Spinner */

.loading-spinner {
    border: clamp(1px, 4px, 1vw) solid #b175ff;
    width: clamp(1px, 30px, 3vw);
    height: clamp(1px, 30px, 3vw);
    animation: spin 1.5s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.center {
    margin: 2vh auto;
}

.loading-text {
    font-size: clamp(1px, 16px, 4vw);
}